<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="investment-form-container">
                <mat-card class="investment-form-card">
                  <mat-card-title class="py-4">Investment Form</mat-card-title>
              
                  <form [formGroup]="investmentForm" (ngSubmit)="onSubmit()">
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-label>Asset Type*</mat-label>
                      <input matInput formControlName="assetType" />
                      <mat-error *ngIf="investmentForm.get('assetType')?.hasError('required')">
                        Asset Type is required
                      </mat-error>
                    </mat-form-field>
              
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-label>Quantity*</mat-label>
                      <input matInput formControlName="quantity" type="number" />
                      <mat-error *ngIf="investmentForm.get('quantity')?.hasError('required')">
                        Quantity is required
                      </mat-error>
                    </mat-form-field>
              
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-label>Purchase Price*</mat-label>
                      <input matInput formControlName="purchasePrice" type="number" />
                      <mat-error *ngIf="investmentForm.get('purchasePrice')?.hasError('required')">
                        Purchase Price is required
                      </mat-error>
                    </mat-form-field>
              
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-label>Date*</mat-label>
                      <input matInput [matDatepicker]="picker" formControlName="date" />
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                      <mat-error *ngIf="investmentForm.get('date')?.hasError('required')">
                        Date is required
                      </mat-error>
                    </mat-form-field>
              
                    <button class="submit-button btn btn-primary" type="submit">
                      Submit
                    </button>
                  </form>
                </mat-card>
              </div>
           </div>
    </div>
</div>